@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');



@import "tailwindcss";

@plugin 'tailwind-scrollbar';


@theme {

  --font-poppins: "Poppins", "Inter";
  --font-inter: "Poppins", "Inter";
  --font-rubik: "Rubik", "Rubik";

  --color-primary: #6640FF;
  --color-planButtonBlack: #12101D;
  --color-planButtonBlue: #514883;
  --color-textPrimary: #383838;
  --color-textSecondary: #656565;
  --color-widgetColor: #c30606;


  --color-toast-background: 0 0% 100%;
  --color-toast-foreground: 222.2 84% 4.9%;
  --color-toast-card: 0 0% 100%;
  --color-toast-card-foreground: 222.2 84% 4.9%;
  --color-toast-popover: 0 0% 100%;
  --color-toast-popover-foreground: 222.2 84% 4.9%;
  --color-toast-primary: 345 100% 25%;
  --color-toast-primary-foreground: 210 40% 98%;
  --color-toast-secondary: 210 40% 96.1%;
  --color-toast-secondary-foreground: 222.2 47.4% 11.2%;
  --color-toast-muted: 210 40% 96.1%;
  --color-toast-muted-foreground: 215.4 16.3% 46.9%;
  --color-toast-accent: 210 40% 96.1%;
  --color-toast-accent-foreground: 222.2 47.4% 11.2%;
  --color-toast-destructive: 0 84.2% 60.2%;
  --color-toast-destructive-foreground: 210 40% 98%;
  --color-toast-border: 214.3 31.8% 91.4%;

  --animate-float: float 3s ease-in-out infinite;

  @keyframes float {

    0%,
    100% {
      transform: rotate(1deg) translateY(0px);
    }

    30% {
      transform: translateY(1px)
    }

    50% {
      transform: rotate(-1deg);
    }
  }

}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}