@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');



@import "tailwindcss";



@theme {

  --font-poppins: "Poppins", "Inter";
  --font-inter: "Poppins", "Inter";
  --font-rubik: "Rubik", "Rubik";

  --color-primary: #6640FF;
  --color-planButtonBlack: #12101D;
  --color-planButtonBlue: #514883;
  --color-textPrimary: #353535;
  --color-textSecondary: #646464;

  --animate-float: float 3s ease-in-out infinite;

  @keyframes float {

    0%,
    100% {
      transform: rotate(1deg) translateY(0px);
    }

    30% {
      transform: translateY(1px)
    }

    50% {
      transform: rotate(-1deg);
    }
  }

}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}